* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}


/* Nav bar section */

.navbar {
    margin-top: 25px;
    padding: 0px 7%;
    float: right;
}

.navbar ul {
    display: inline-block;
    list-style-type: none;
}

.navbar ul li {
    display: inline-block;
    padding: 0px 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: #252525e7;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
}


/* hero area */

.contact {
    padding-top: 7%;
    margin-left: 10%;
}

.description {
    width: 40%;
    float: left;
}

.description h1 {
    font-size: 80px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    color: #363958;
    font-weight: bold;
}

.title-color {
    color: #FF8367;
}

p {
    color: #3E3E3E;
    font-family: roboto, sans-serif;
    padding-bottom: 15px;
}

.hire-btn {
    background-image: linear-gradient(45deg, tomato, lightsalmon);
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    text-transform: capitalize;
    border-radius: 5px;
}

.profile-image {
    width: 40%;
    float: left;
}

.profile-image img {
    width: 100%;
}


/* about section */

.about {
    margin-left: 10%;
    padding-bottom: 45px;
}

.about-image {
    width: 40%;
    float: left;
}

.about-image img {
    width: 100%;
}

.about-text {
    width: 40%;
    float: left;
    padding-top: 85px;
}

.about-text h1 {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: #363958;
    font-size: 48px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.about-text p {
    padding-bottom: 35px;
}

.down-cv {
    background-image: linear-gradient(45deg, tomato, lightsalmon);
    text-decoration: none;
    color: #ffffff;
    padding: 15px 20px;
    text-transform: capitalize;
    border-radius: 5px;
}


/* projects section */

.services {
    background-color: #F8F9FC;
    width: 100%;
    float: left;
    padding-bottom: 10%;
}

.container {
    width: 100%;
    padding-bottom: 25px;
    float: left;
    padding-left: 18%;
}

.container h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    color: #363958;
    text-align: center;
    font-weight: bold;
    padding-top: 5%;
    padding-bottom: 5%;
}

.card {
    width: 450px;
    height: 490px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 15px;
    border-radius: 15px;
    display: inline-block;
}

.card img {
    width: 100%;
}

.card h2 {
    font-size: 24px;
    color: #363958;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.card p {
    line-height: 1.5;
}


/* contact section here */

.hello {
    width: 100%;
    margin: auto;
}

.get-text {
    width: 50%;
    margin: auto;
    padding-top: 15%;
}

.get-text img {
    width: 100%;
    background-position: center;
    padding-top: 15%;
}

.chat-btn {
    background-image: linear-gradient(45deg, tomato, lightsalmon);
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    text-transform: capitalize;
    border-radius: 5px;
}

.left {
    position: relative;
    top: -150px;
    left: 30px;
    display: inline-block;
}

.left h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 64px;
    color: #ffffff;
}

.right {
    position: relative;
    top: -160px;
    right: -400px;
    display: inline-block;
}


/* footer section */

footer h4 {
    color: #696871;
    text-align: center;
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
}

footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.social-icon {
    text-align: center;
    padding: 5px;
    margin: auto;
}

.fa {
    font-size: 32px;
    padding: 5px;
}